<div class='container'>
    <div class="row">
        <div class="col-md-4">
            <br>
            <button class="btn btn-outline-primary">Add new quiz</button>
            <br>
            <br>
            <div class="list-group">
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    *ngFor="let quiz of quizzes"
                    (click)="setSelectedQuiz(quiz)"
                    [class.active]="selectedQuiz == quiz">
                    {{ quiz.name }}
                    <span class="badge badge-secondary"
                        [class.bg-danger]='quiz.numberOfQuestions == 0'>{{ quiz.numberOfQuestions }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <br>
            <button class="btn btn-outline-success">Save</button>
            <button class="btn btn-link">Cancel</button>
            <br>
            <br>
            <div class="card">
                <div class="card-header">General</div>
                <div class="card-body">coming soon</div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">Questions</div>
                <div class="card-body">coming soon</div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">Options</div>
                <div class="card-body">
                    <button class="btn btn-outline-danger">Delete this quiz</button>
                </div>
            </div>
        </div>
    </div>
</div>